# ===== Build =====
target/
*.jar

# ===== Logs =====
logs/
*.log

# ===== Env / Secrets =====
application-prod.properties
application-*.properties

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.idea/
.vscode/
*.iml